<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/OasisUI/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content=""><title>Oasis End</title>
	<link rel="stylesheet" href="/OasisUI/_app/immutable/assets/pages/__layout.svelte-adfcc3f8.css">
	<link rel="stylesheet" href="/OasisUI/_app/immutable/assets/style-1e1b5b89.css">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/start-d1101698.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/chunks/index-966d6815.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/chunks/index-2082528d.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/chunks/singletons-d1fb5791.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/pages/__layout.svelte-3f530beb.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/pages/components/grid/demo/basic.md-8fdb41d8.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/chunks/style-aa086b95.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/chunks/index-ac42480e.js">
	</head>
	<body>
		<div>


<header class="svelte-gwcqje">Oasis<span style="color: #2080f0">-End</span></header>
<section class="main svelte-gwcqje"><nav class="menus svelte-gwcqje"><nav><div class="menu-title svelte-14cq86t">
                <div class="menu-title-text svelte-14cq86t">首页</div>
            </div><div class="menu-title svelte-14cq86t">布局组件</div>
            <div class="menu-children"><nav><div class="menu-title svelte-14cq86t"><div class="indent svelte-14cq86t"></div>
                <div class="menu-title-text svelte-14cq86t">Space 空间</div>
            </div><div class="menu-title svelte-14cq86t"><div class="indent svelte-14cq86t"></div>
                <div class="menu-title-text svelte-14cq86t">Grid 网格</div>
            </div>
</nav>
            </div>
</nav></nav>
    <div class="body markdown-body svelte-gwcqje"><h4>基础用法 / 间距</h4>
<pre class="language-svelte"><!-- HTML_TAG_START --><code class="language-svelte"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Grid</span> <span class="token attr-name">gap=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token number">10</span><span class="token punctuation">&#125;</span></span><span class="token punctuation">></span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>GridItem</span><span class="token punctuation">></span></span>1<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>GridItem</span><span class="token punctuation">></span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>GridItem</span><span class="token punctuation">></span></span>2<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>GridItem</span><span class="token punctuation">></span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>GridItem</span> <span class="token attr-name">span=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token number">10</span><span class="token punctuation">&#125;</span></span><span class="token punctuation">></span></span>4<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>GridItem</span><span class="token punctuation">></span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>GridItem</span><span class="token punctuation">></span></span>5<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>GridItem</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Grid</span><span class="token punctuation">></span></span></code><!-- HTML_TAG_END --></pre>
<div class="o-grid" style="--o-grid-cols: 24; --o-grid-item--overflow: initial; grid-gap: 10px 10px; grid-auto-flow: dense;"><div class="o-grid-item" style="grid-column: span 1 / span 1; grid-row: span 1 / span 1;">1</div>
    <div class="o-grid-item" style="grid-column: span 1 / span 1; grid-row: span 1 / span 1;">2</div>
    <div class="o-grid-item" style="grid-column: span 10 / span 10; grid-row: span 1 / span 1;">4</div>
    <div class="o-grid-item" style="grid-column: span 1 / span 1; grid-row: span 1 / span 1;">5</div></div></div></section>




		<script type="module" data-sveltekit-hydrate="7tgs68">
		import { start } from "/OasisUI/_app/immutable/start-d1101698.js";
		start({
			target: document.querySelector('[data-sveltekit-hydrate="7tgs68"]').parentNode,
			paths: {"base":"/OasisUI","assets":"/OasisUI"},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [0, 2],
				params: {},
				routeId: "components/grid/demo/basic"
			}
		});
	</script></div>
	</body>
</html>
