<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/OasisUI/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content=""><title>Oasis End</title>
	<link rel="stylesheet" href="/OasisUI/_app/immutable/assets/pages/__layout.svelte-387c578c.css">
	<link rel="stylesheet" href="/OasisUI/_app/immutable/assets/style-965b6e6e.css">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/start-f67852cd.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/chunks/index-34629744.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/chunks/index-a17d7c15.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/chunks/singletons-1b661bce.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/pages/__layout.svelte-8f820ee4.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/pages/components/grid/demo/basic.md-6807fca8.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/chunks/index-8a5a6a18.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/chunks/addUnit-4a3cc98c.js">
	</head>
	<body>
		<div>


<header class="svelte-gwcqje">Oasis<span style="color: #2080f0">-End</span></header>
<section class="main svelte-gwcqje"><nav class="menus svelte-gwcqje"><nav><div class="menu-title svelte-14cq86t">
                <div class="menu-title-text svelte-14cq86t">首页</div>
            </div><div class="menu-title svelte-14cq86t">基础组件</div>
            <div class="menu-children"><nav><div class="menu-title svelte-14cq86t"><div class="indent svelte-14cq86t"></div>
                <div class="menu-title-text svelte-14cq86t">Icon 图标</div>
            </div>
</nav>
            </div><div class="menu-title svelte-14cq86t">布局组件</div>
            <div class="menu-children"><nav><div class="menu-title svelte-14cq86t"><div class="indent svelte-14cq86t"></div>
                <div class="menu-title-text svelte-14cq86t">Space 空间</div>
            </div><div class="menu-title svelte-14cq86t"><div class="indent svelte-14cq86t"></div>
                <div class="menu-title-text svelte-14cq86t">Grid 网格</div>
            </div><div class="menu-title svelte-14cq86t"><div class="indent svelte-14cq86t"></div>
                <div class="menu-title-text svelte-14cq86t">Contain 容纳</div>
            </div>
</nav>
            </div>
</nav></nav>
    <div class="body markdown-body svelte-gwcqje"><h4>基础用法 / 间距</h4>
<pre class="language-svelte"><!-- HTML_TAG_START --><code class="language-svelte"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Grid</span> <span class="token attr-name">gap=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token number">10</span><span class="token punctuation">&#125;</span></span><span class="token punctuation">></span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>GridItem</span><span class="token punctuation">></span></span>1<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>GridItem</span><span class="token punctuation">></span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>GridItem</span><span class="token punctuation">></span></span>2<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>GridItem</span><span class="token punctuation">></span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>GridItem</span> <span class="token attr-name">span=</span><span class="token language-javascript"><span class="token punctuation">&#123;</span><span class="token number">10</span><span class="token punctuation">&#125;</span></span><span class="token punctuation">></span></span>4<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>GridItem</span><span class="token punctuation">></span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>GridItem</span><span class="token punctuation">></span></span>5<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>GridItem</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Grid</span><span class="token punctuation">></span></span></code><!-- HTML_TAG_END --></pre>
<div class="o-grid" style="--o-grid-cols: 24; --o-grid-item--overflow: initial; grid-gap: 10px 10px; grid-auto-flow: dense;">
<div class="o-grid-item" style="grid-column: span 1 / span 1; grid-row: span 1 / span 1;">1</div>

    
<div class="o-grid-item" style="grid-column: span 1 / span 1; grid-row: span 1 / span 1;">2</div>

    
<div class="o-grid-item" style="grid-column: span 10 / span 10; grid-row: span 1 / span 1;">4</div>

    
<div class="o-grid-item" style="grid-column: span 1 / span 1; grid-row: span 1 / span 1;">5</div>
</div></div></section>




		<script type="module" data-sveltekit-hydrate="1ltgg3v">
		import { start } from "/OasisUI/_app/immutable/start-f67852cd.js";
		start({
			target: document.querySelector('[data-sveltekit-hydrate="1ltgg3v"]').parentNode,
			paths: {"base":"/OasisUI","assets":"/OasisUI"},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [0, 4],
				params: {},
				routeId: "components/grid/demo/basic"
			}
		});
	</script></div>
	</body>
</html>
