<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/OasisUI/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content="">
	<link rel="stylesheet" href="/OasisUI/_app/immutable/assets/pages/__layout.svelte-0ab6d511.css">
	<link rel="stylesheet" href="/OasisUI/_app/immutable/assets/index-d4256b7b.css">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/start-fd2e54da.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/chunks/index-f9b2f9b6.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/chunks/index-d4e7790c.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/pages/__layout.svelte-965e527e.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/pages/components/space/demo/basic/index.svelte-32380888.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/chunks/index-7a243ecf.js">
	</head>
	<body>
		<div>


233223 4545
<div class="markdown-body">
	<h3>基础用法</h3>

	<pre><code class="language-svelte svelte-k4vtj5">&lt;Space&gt;
    &lt;SpaceItem&gt;1&lt;/SpaceItem&gt;
    &lt;SpaceItem&gt;2&lt;/SpaceItem&gt;
    &lt;SpaceItem&gt;3&lt;/SpaceItem&gt;
&lt;/Space&gt;
</code></pre>
<div class="o-space  o-space--wrap" style="margin-bottom: calc(0px - 10px); --o-space-right: 10px; --o-space-bottom: 10px;"><div class="o-space-item">1</div>
        <div class="o-space-item">2</div>
        <div class="o-space-item">3</div></div></div>


		<script type="module" data-sveltekit-hydrate="xf4mf5">
		import { start } from "/OasisUI/_app/immutable/start-fd2e54da.js";
		start({
			target: document.querySelector('[data-sveltekit-hydrate="xf4mf5"]').parentNode,
			paths: {"base":"/OasisUI","assets":"/OasisUI"},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [0, 2],
				params: {},
				routeId: "components/space/demo/basic"
			}
		});
	</script></div>
	</body>
</html>
