<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/OasisUI/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content=""><title>Oasis End</title>
	<link rel="stylesheet" href="/OasisUI/_app/immutable/assets/pages/__layout.svelte-adfcc3f8.css">
	<link rel="stylesheet" href="/OasisUI/_app/immutable/assets/style-1e1b5b89.css">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/start-d1101698.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/chunks/index-966d6815.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/chunks/index-2082528d.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/chunks/singletons-d1fb5791.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/pages/__layout.svelte-3f530beb.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/pages/components/space/demo/basic.md-3b9e95b0.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/chunks/index-98c0da30.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/chunks/style-aa086b95.js">
	</head>
	<body>
		<div>


<header class="svelte-gwcqje">Oasis<span style="color: #2080f0">-End</span></header>
<section class="main svelte-gwcqje"><nav class="menus svelte-gwcqje"><nav><div class="menu-title svelte-14cq86t">
                <div class="menu-title-text svelte-14cq86t">首页</div>
            </div><div class="menu-title svelte-14cq86t">布局组件</div>
            <div class="menu-children"><nav><div class="menu-title svelte-14cq86t"><div class="indent svelte-14cq86t"></div>
                <div class="menu-title-text svelte-14cq86t">Space 空间</div>
            </div><div class="menu-title svelte-14cq86t"><div class="indent svelte-14cq86t"></div>
                <div class="menu-title-text svelte-14cq86t">Grid 网格</div>
            </div>
</nav>
            </div>
</nav></nav>
    <div class="body markdown-body svelte-gwcqje"><h4>基础用法</h4>
<pre class="language-svelte"><!-- HTML_TAG_START --><code class="language-svelte"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Space</span><span class="token punctuation">></span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>SpaceItem</span><span class="token punctuation">></span></span>1<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>SpaceItem</span><span class="token punctuation">></span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>SpaceItem</span><span class="token punctuation">></span></span>2<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>SpaceItem</span><span class="token punctuation">></span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>SpaceItem</span><span class="token punctuation">></span></span>3<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>SpaceItem</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Space</span><span class="token punctuation">></span></span></code><!-- HTML_TAG_END --></pre>
<div class="o-space  o-space--wrap" style="margin-bottom: calc(0px - 10px); --o-space-right: 10px; --o-space-bottom: 10px;"><div class="o-space-item">1</div>
    <div class="o-space-item">2</div>
    <div class="o-space-item">3</div></div></div></section>




		<script type="module" data-sveltekit-hydrate="1dobydc">
		import { start } from "/OasisUI/_app/immutable/start-d1101698.js";
		start({
			target: document.querySelector('[data-sveltekit-hydrate="1dobydc"]').parentNode,
			paths: {"base":"/OasisUI","assets":"/OasisUI"},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [0, 5],
				params: {},
				routeId: "components/space/demo/basic"
			}
		});
	</script></div>
	</body>
</html>
