<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/OasisUI/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content=""><title>Oasis End</title>
	<link rel="stylesheet" href="/OasisUI/_app/immutable/assets/pages/__layout.svelte-387c578c.css">
	<link rel="stylesheet" href="/OasisUI/_app/immutable/assets/style-965b6e6e.css">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/start-f67852cd.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/chunks/index-34629744.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/chunks/index-a17d7c15.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/chunks/singletons-1b661bce.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/pages/__layout.svelte-8f820ee4.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/pages/components/space/demo/vertical.md-6f7e983f.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/chunks/index-555aa37b.js">
	<link rel="modulepreload" href="/OasisUI/_app/immutable/chunks/addUnit-4a3cc98c.js">
	</head>
	<body>
		<div>


<header class="svelte-gwcqje">Oasis<span style="color: #2080f0">-End</span></header>
<section class="main svelte-gwcqje"><nav class="menus svelte-gwcqje"><nav><div class="menu-title svelte-14cq86t">
                <div class="menu-title-text svelte-14cq86t">首页</div>
            </div><div class="menu-title svelte-14cq86t">基础组件</div>
            <div class="menu-children"><nav><div class="menu-title svelte-14cq86t"><div class="indent svelte-14cq86t"></div>
                <div class="menu-title-text svelte-14cq86t">Icon 图标</div>
            </div>
</nav>
            </div><div class="menu-title svelte-14cq86t">布局组件</div>
            <div class="menu-children"><nav><div class="menu-title svelte-14cq86t"><div class="indent svelte-14cq86t"></div>
                <div class="menu-title-text svelte-14cq86t">Space 空间</div>
            </div><div class="menu-title svelte-14cq86t"><div class="indent svelte-14cq86t"></div>
                <div class="menu-title-text svelte-14cq86t">Grid 网格</div>
            </div><div class="menu-title svelte-14cq86t"><div class="indent svelte-14cq86t"></div>
                <div class="menu-title-text svelte-14cq86t">Contain 容纳</div>
            </div>
</nav>
            </div>
</nav></nav>
    <div class="body markdown-body svelte-gwcqje"><h4>垂直</h4>
<pre class="language-svelte"><!-- HTML_TAG_START --><code class="language-svelte"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>Space</span> <span class="token attr-name">vertical</span><span class="token punctuation">></span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>SpaceItem</span><span class="token punctuation">></span></span>Hello<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>SpaceItem</span><span class="token punctuation">></span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>SpaceItem</span><span class="token punctuation">></span></span>Hello<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>SpaceItem</span><span class="token punctuation">></span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>SpaceItem</span><span class="token punctuation">></span></span>Hello<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>SpaceItem</span><span class="token punctuation">></span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>Space</span><span class="token punctuation">></span></span></code><!-- HTML_TAG_END --></pre>
<div class="o-space o-space--vertical o-space--wrap" style="margin-bottom: calc(0px - 10px); --o-space-right: 0px; --o-space-bottom: 10px;"><div class="o-space-item">Hello</div>
    <div class="o-space-item">Hello</div>
    <div class="o-space-item">Hello</div></div></div></section>




		<script type="module" data-sveltekit-hydrate="1kaoecz">
		import { start } from "/OasisUI/_app/immutable/start-f67852cd.js";
		start({
			target: document.querySelector('[data-sveltekit-hydrate="1kaoecz"]').parentNode,
			paths: {"base":"/OasisUI","assets":"/OasisUI"},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [0, 10],
				params: {},
				routeId: "components/space/demo/vertical"
			}
		});
	</script></div>
	</body>
</html>
